<!DOCTYPE html>
<html>
  <head>
    <title>New Sails App</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1"
    />

    <%/* If you want to discourage search engines from indexing this site,
    uncomment the following line: */%> <%/*
    <meta name="robots" content="noindex" />
    */%>

    <!--
        Stylesheets and Preprocessors
        ==============================

        You can always bring in CSS files manually with `<link>` tags, or asynchronously
        using a solution like AMD (RequireJS).  Or, if you like, you can take advantage
        of Sails' conventional asset pipeline (boilerplate Gruntfile).

        By default, stylesheets from your `assets/styles` folder are included
        here automatically (between STYLES and STYLES END). Both CSS (.css) and LESS (.less)
        are supported. In production, your styles will be minified and concatenated into
        a single file.

        To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:

            + Change the order of your CSS files
            + Import stylesheets from other directories
            + Use a different or additional preprocessor, like SASS, SCSS or Stylus
    -->
    <% if (page === 'login'){ %>
    <link rel="stylesheet" href="/vendor/css/pages/page-auth.css" />
    <% } %>

    <!--STYLES-->
    <link rel="stylesheet" href="/vendor/fonts/fontawesome.css">
    <link rel="stylesheet" href="/vendor/fonts/tabler-icons.css">
    <link rel="stylesheet" href="/vendor/fonts/flag-icons.css">
    <link rel="stylesheet" href="/vendor/css/rtl/core.css">
    <link rel="stylesheet" href="/vendor/css/rtl/theme-default.css">
    <link rel="stylesheet" href="/vendor/libs/perfect-scrollbar/perfect-scrollbar.css">
    <link rel="stylesheet" href="/vendor/libs/node-waves/node-waves.css">
    <link rel="stylesheet" href="/vendor/libs/typeahead-js/typeahead.css">
    <link rel="stylesheet" href="/vendor/libs/datatables-bs5/datatables.bootstrap5.css">
    <link rel="stylesheet" href="/vendor/libs/datatables-responsive-bs5/responsive.bootstrap5.css">
    <link rel="stylesheet" href="/vendor/libs/datatables-buttons-bs5/buttons.bootstrap5.css">
    <link rel="stylesheet" href="/vendor/libs/select2/select2.css">
    <link rel="stylesheet" href="/vendor/libs/bootstrap-select/bootstrap-select.css">
    <link rel="stylesheet" href="/vendor/libs/formvalidation/dist/css/formValidation.min.css">
    <link rel="stylesheet" href="/vendor/libs/sweetalert2/sweetalert2.css">
    <link rel="stylesheet" href="/vendor/libs/flatpickr/flatpickr.css">
    <link rel="stylesheet" href="/vendor/libs/spinkit/spinkit.css">
    <!--STYLES END-->
  </head>

  <body>
    <% if (page === 'login'){ %> <%- include('../pages/auth/login') %> <% } else
    { %>
    <div
      class="layout-wrapper layout-navbar-full layout-horizontal layout-without-menu"
    >
      <div class="layout-container" id="bodyDiv">
        <!-- Navbar -->
        <%- partial('../partials/navbar') %>
        <!-- / Navbar -->

        <!-- Layout container -->
        <div class="layout-page">
          <div class="content-wrapper">
            <!-- Menu -->
            <%- partial('../partials/menu') %>
            <!-- / Menu -->
            <!-- <%- body %> -->
          </div>
        </div>
        <!-- / Layout container -->
      </div>
    </div>
    <% } %>

    <!--
        Client-side Templates
        ========================

        HTML templates are important prerequisites of modern, rich client applications.
        To work their magic, frameworks like React, Vue.js, Angular, Ember, and Backbone
        require that you load these templates client-side.

        By default, your Gruntfile is configured to automatically load and precompile
        client-side JST templates in your `assets/templates` folder, then
        include them here automatically (between TEMPLATES and TEMPLATES END).

        To customize this behavior to fit your needs, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:

            + Import templates from other directories
            + Use a different view engine (handlebars, dust, pug/jade, etc.)
            + Internationalize your client-side templates using a server-side
              stringfile before they're served.
    -->

    <!--TEMPLATES-->
    <!--TEMPLATES END-->

    <!--
        Server-side View Locals
        ========================

        Sometimes, it's convenient to get access to your server-side view locals from
        client-side JavaScript.  This can improve page load times, remove the need for
        extra AJAX requests, and make your client-side code easier to understand and
        to maintain.  Sails provides a simple mechanism for accessing dynamic view
        locals: the "exposeLocalsToBrowser()" view partial.

        For more information on using this built-in feature, see:
        https://sailsjs.com/docs/concepts/views/locals#?escaping-untrusted-data-using-exposelocalstobrowser

    -->

    <!--

      Client-side Javascript
      ========================

      You can always bring in JS files manually with `script` tags, or asynchronously
      on the client using a solution like AMD (RequireJS).  Or, if you like, you can
      take advantage of Sails' conventional asset pipeline (boilerplate Gruntfile).

      By default, files in your `assets/js` folder are included here
      automatically (between SCRIPTS and SCRIPTS END).  Both JavaScript (.js) and
      CoffeeScript (.coffee) are supported. In production, your scripts will be minified
      and concatenated into a single file.

      To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
      For example, here are a few things you could do:

          + Change the order of your scripts
          + Import scripts from other directories
          + Use a different preprocessor, like TypeScript

    -->

    <!--SCRIPTS-->
    <script src="/dependencies/sails.io.js"></script>
    <script src="/vendor/js/helpers.js"></script>
    <script src="/js/config.js"></script>
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/vendor/js/template-customizer.js"></script>
    <script src="/vendor/libs/popper/popper.js"></script>
    <script src="/vendor/js/bootstrap.js"></script>
    <script src="/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="/vendor/libs/node-waves/node-waves.js"></script>
    <script src="/vendor/libs/hammer/hammer.js"></script>
    <script src="/vendor/libs/i18n/i18n.js"></script>
    <script src="/vendor/libs/typeahead-js/typeahead.js"></script>
    <script src="/vendor/js/menu.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
